.data__list
    width: 40%
    background-color: #2c2c2c
    border: 1px solid #4d4d4d
    margin-top: 50px
    ul
        position: relative
        min-height: 150px
        li
            font-size: 26px
            padding: 20px
            border: 1px solid #4d4d4d
            transition: 0.002s all
            &:hover
                background-color: #3f3b3b
            
            