.randomplanet
    padding: 30px
    background-color: #303031
    border-radius: 10px
    margin-top: 40px
    .randomplanet__content
        display: flex
        .randomplanet__img
            img
                border-radius: 20px
                width: 200px
        .randomplanet__info
            margin-left: 50px
            margin-top: 10px
            .randomplanet__name
                font-size: 36px
            ul
                margin-top: 20px
                li
                    margin-top: 2px
                    font-size: 21px