.header
    display: flex
    padding-top: 60px
    align-items: center
    .header__row
        .header__logo
            font-size: 48px
    .header__navbar
        margin-left: 100px
        ul
            display: flex
            li
                margin-left: 40px
                &:first-child
                    margin-left: 0
                a
                    font-size: 26px
                    color: #128541
                    transition: 0.05s all
                    &:hover
                        color: #bb5e13