html
    font-family: 'Roboto', sans-serif
    background-color: #1f1f1f
    color: #fff
    box-sizing: border-box
    .app
        width: 720px
        margin: 0 auto
        .peopleInfo
            display: flex
            justify-content: space-between